* {
    box-sizing: border-box;
}

:root {
    margin: 0;
    background-color: #073b4c;
    color: #eef;
    height: 100%;
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    height: 100%;
    margin: 0;
}

.serp {
    height: 100%;
    display: grid;

    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;

    padding: 2em;
    gap: 2em;
}

.serp .input {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.serp .results, .serp .search {
    grid-column: 2;
}

.serp .search {
    padding: 1em;
}

.serp .search input {
    width: 100%;
    padding: 1em;
    background: 0;
    border: 1px solid #aad5;
    font: inherit;
    color: inherit;
}

.serp .input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fun-keyboard--parent {
    display: grid;
    grid-template-columns: repeat(3, 6em);
    grid-template-rows: repeat(4, 6em);
}

.fun-keyboard--num-button {
    outline: 1px solid #aad5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.fun-keyboard--num-button .num {
    font-size: 2em;
}

.fun-keyboard--num-button .opts {
    display: flex;
    gap: 0.125em;
    font-size: 1.25em;
    font-weight: bold;
}

.op.yellow {
    color: #ffd166;
}

.op.green {
    color: #06d6a0;
}

.op.red {
    color: #ef476f;
}

.op.blue {
    color: #118ab2;
}